<style>
  :root {
  --sys-font-family: "MISans_Medium", Georgia, -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
  --code-font-family: "JetBrainsMono Regular", Menlo, Monaco, Consolas, "Courier New";
  --article-font-family: "MISans_Medium", var(--base-font-family);
}
</style>
<script>
  (function () {
      const customFont = document.createElement('link');
      customFont.href = "https://cdn.shimoko.com/fonts/MiSans/mifont.css";
      customFont.type = "text/css";
      customFont.rel = "stylesheet";
       document.head.appendChild(customFont);
}());
</script>
